textarea,mat-form-field{
    width: 100%;
    margin:auto;
}
:host{
    display: block;
    margin-top: 1rem;
}
mat-spinner{
    margin:auto 
}
input[type='file']{
    visibility: hidden
}


.image-preview{
    height: 5rem;
    margin:1rem 0
}

.image-preview img{
    height:100%
}
.image-preview .Deletebutton{
    float: right
}


.image-preview .nested-image-preview{
    height: 5rem;
    margin:1rem 0
}

.image-preview .nested-image-preview img{
    height:100%
}
.image-preview .nested-image-preview .Deletebutton{
    float: right
}
